{% extends "main_page.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home/style.css'%}">
{% endblock head %}

{% block title %} WorkRate {% endblock title %}

{% block content %}
    {% include "main_components/navbar.html" %}
    {% if user.is_authenticated %}
        {% include "home/homeAutenticata.html" %}
    {% else %}
        {% include "home/homeNonAutenticata.html" %}
    {% endif %}
    {% include "main_components/footer.html" %}
{% endblock content %}