<div class='container'>
    {% if message %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% else %}

    <h2>Recensisci l'utente @{{ utenteRecensito }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.valutazione }}
        {{ form.titolo.label_tag }} {{ form.titolo }}
        {{ form.commento.label_tag }} {{ form.commento }}
        <button type="submit">Invia</button>
    </form>
    
    <br>
    <p>Stai recensendo con il nome di @{{ autoreRecensione }}</p>
    {% endif %}    
</div>
