body {
    margin-left: 40px;
    margin-right: 40px;
    color: #212529;
}

p {
    color: red;
}

.logo-navbar {
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.workrate {
    font-weight: bold;
    font-size: 30px;
}

.workrate-orange{
    background-color: #FF914D;
    border: 2px solid #FF914D;
    margin-left: 10px;
}

.workrate-orange:hover {
    background-color: #D17A42;
    border: 2px solid #D17A42;
}

