<h3>I tuoi annunci:</h3>
    <div class="card-deck">
    {% for i in annunci %}
        <div class="card" style='width:500px'>
            <div class="card-body" >
                <h5 class="card-title">{{ i.titolo }} 
                <a href={% url 'cancella_annuncio' i.id %}><button class="btn btn-danger" style='float:right'><i class="fa fa-trash"></i></button></a></h5>
                <p class="card-text">{{ i.descrizione }}</p>
                <div class="card-footer">
                    <small class="text-muted">
                        Stipendio: {{ i.range_stipendio }} - 
                        {% if i.is_distanza %} 
                            Lavoro a distanza
                        {% else %}
                            Lavoro in sede 
                        {% endif %}
                        - {{ i.data_pubblicazione|date:"d/m/Y" }}
                    </small>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Non hai nessun annuncio disponibile</p>
    {% endfor %}
    </div>