<h3> Dipendenti:</h3>
<div class='div-dipendenti'>
{% for i in lavoriAccettati %}
    <p>
        <b> {{ i.annuncio.titolo }} </b> | @{{ i.lavoratore }} 
        <a href="{% url 'recensione' i.lavoratore %}"><button class="btn btn-primary my-2 my-sm-0 workrate-orange" style='margin-left:100px'>Recensione</button></a>
        <a href="{% url 'licenzia' i.lavoratore %}"><button type="button" class="btn btn-danger" style='margin-left:400px'>Licenzia</button></a> (una volta cliccato, l'azione sara' irreversibile)
    </p>
    <hr><br>
{% endfor %}
</div>