<div class='container'>
    <div class="my-2 my-lg-0 d-flex">
        <img src="https://placehold.co/100x100" alt="Logo Aziendale" style="width: 100px; height: 100px;" class='rounded-circle'>
        <div class='titolo-profilo'>
            <h1>Profilo Aziendale di {{ utente.nome }}</h1>
            <p><b>@{{ utente.username }}</b> | Dipendenti: {{ lavoriAccettati.count }} | Situato a: {{ utente.citta }} <!-- citta' --></p>
            <br>
            <p> Hai {{ richiesteLavoro.count }} richieste di lavoro in sospeso
                <a href="{% url 'richieste' %}"><button class="btn btn-primary my-2 my-sm-0 workrate-orange">Visualizza</button></a>
            </p>
        </div>
    </div>

    <hr>

    <h3>Crea un annuncio:</h3>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="titolo">Titolo</label>
                {{ form.titolo }}
            </div>
            <div class="form-group col-md-4">
                <label for="rangeStipendio">Range Stipendio</label>
                {{ form.range_stipendio }}
            </div>
            <div class="form-group col-md-4">
                <label for="rangeStipendio">Tag</label>
                {{ form.tag }}
            </div>
            <div class="form-group col-md-4">
                <label class="control control--checkbox mb-0"><span class="caption">Lavoro a distanza?</span>
                    {{ form.is_distanza }}
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="rangeStipendio">Descrizione</label>
                {{ form.descrizione }}
            </div>
        </div>
        <br>
        <button class="btn btn-primary my-2 my-sm-0 workrate-orange" type="submit">Crea Annuncio</button>
    </form>
    
    <hr>

    <h3>I tuoi annunci:</h3>
    <div class="card-deck">
    {% for i in annunci %}
        <div class="card" style='width:500px'>
            <div class="card-body" >
                <h5 class="card-title">{{ i.titolo }}</h5>
                <p class="card-text">{{ i.descrizione }}</p>
                <div class="card-footer">
                    <small class="text-muted">
                        Stipendio: {{ i.range_stipendio }} - 
                        {% if i.is_distanza %} 
                            Lavoro a distanza
                        {% else %}
                            Lavoro in sede
                        {% endif %}
                        - {{ i.data_pubblicazione|date:"d/m/Y" }}
                    </small>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Non hai ancora creato nessun annuncio</p>
    {% endfor %}
    </div>

    <hr>

    <h3> Dipendenti:</h3>
    {% for i in lavoriAccettati %}
        <p>
            <b> {{ i.annuncio.titolo }} </b> | {{ i.lavoratore }} 
            <a  href=""><button class="btn btn-primary my-2 my-sm-0 workrate-orange" style='margin-left:100px'>Recensione</button></a>
        </p>
        <hr><br>
    {% endfor %}
    {% if messages %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        });
    </script>
{% endif %}

</div>