{% extends "main_page.html" %}

{% block head %}
    {% load static %}
    {% if utente.is_azienda %}
        <link rel="stylesheet" href="{% static 'css/profilo/styleAzienda.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/profilo/styleLavoratore.css' %}">
    {% endif %}
{% endblock head %}

{% block title %} Profilo {% endblock title %}

{% block content %}

    {% include "main_components/navbar.html" %}
    {% if utente.is_azienda %}
        {% include "utente/profilo/bodyProfilo_Azienda.html" %}
    {% else %}
        {% include "utente/profilo/bodyProfilo_Lavoratore.html" %}
    {% endif %}
    {% include "main_components/footer.html" %}
{% endblock content %}