{% load static %}

<!-- Image and text -->
<nav class="navbar">
    
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'imgs/home/logo.png' %}" class="d-inline-block align-top logo-navbar" alt="">
        <span class="workrate">WorkRate</span>
    </a>

    <div class="my-2 my-lg-0 d-flex">
        {% if user.is_authenticated %}
        <div class="logout-form">
            <a href="{% url 'logout' %}"><button class="logout-btn" type="submit">Logout</button></a>
        </div>
        <a href="{% url 'profilo' %}">
            {% if user.immagine_profilo %}
                <img src="{{ user.immagine_profilo.url }}" alt="Foto Profilo" style="width: 40px; height: 40px;" class='rounded-circle'>
            {% else %}
                <img src="https://placehold.co/100x100" alt="Logo Aziendale" style="width: 40px; height: 40px;" class='rounded-circle'>
            {% endif %}
        </a>
        {% else %}
        <a href="{% url 'login' %}"><button class="btn btn-primary my-2 my-sm-0 workrate-orange" type="submit">Login</button></a>
        <a href="{% url 'registrazione' %}"><button class="btn btn-primary my-2 my-sm-0 workrate-orange" type="submit">Sign in</button></a>
        {% endif %}
    </div>
  </nav>